html {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	color: #737373;
	background: #fcfcfc;
	font-family: sans-serif;
}

body{
   text-align: center;
   padding: 30px 20px 50px;
}

p {
	margin: 0;
}

#container{
   width: 420px;
   margin: 0 auto;
}

@media screen and (max-width: 420px) {
 	#container {
 	width: 100%;
 	}
}
