html {
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	color: #737373;
	background: #fcfcfc;
	font-family: sans-serif;
}

body{
   text-align: center; /*Center Page for IE6*/
   padding: 30px 20px 50px;
}

.bold{
	font-weight: bold;
}

a, a:link, a:visited, a:active, a:focus{
	color: #737373;
	text-decoration: none;
}

a:hover{
	color: #4d4d4d;
	text-decoration: none;
}

code {
	font-family: monospace;
}

#container{
   width: 720px;
   margin: 0 auto;
   text-align: left;
}

@media screen and (max-width: 720px) {
 	#container {
 	width: 100%;
 	}
}
